<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>
<div class="section">
    <h2 class="section__title">
        <%= item.title %>
    </h2>
    <img class="section__image" src="/img/<%= item.image %>">
    <!-- <h3><%= item.location.title %></h3> -->
    <% for (let i = 0; i < item.categories.length; i++) { %>
        <h4>
            <%= item.categories[i].category.title %>
        </h4>
    <% } %>
</div>

<form action="/update" method="post">
    <div class="form-group">
        <label class="form-group__label" for="title">title</label>
        <input value="<%= item.title %>" class="form-group__input" type="text" id="title" name="title"
            placeholder="title">
    </div>

    <div class="form-group">
        <label class="form-group__label" for="image">image</label>
        <input value="<%= item.image %>" class="form-group__input" type="text" id="image" name="image"
            placeholder="image">
    </div>

    <input class="form-button" type="submit" value="Обновить">
</form>

<form action="/example-m-n" method="post">
    <input value="<%= item.id %>" type="hidden" name="item_id">

    <div class="form-group">
        <label class="form-group__label" for="category_id">Category_id</label>
        <select name="category_id" id="category_id">
            <% for (let i = 0; i < categories.length; i++) { %>
                <option value="<%= categories[i].id %>"><%= categories[i].title %></option>
            <% } %>
        </select>        
    </div>

    <input class="form-button" type="submit" value="Привязать">
</form>
<%- include('particles/footer.ejs') %>